
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #C0C0C0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color: yellow;
  //border-bottom: 2px solid #191970;
  //border-top: 2px solid #191970;

}

body {
  background-color: #778899;
}

h1 {
  color: yellow;
}

#PostSmthn {
  color: yellow !important;
}

#welcomelog {
  color: yellow !important;
}

#registerlink {
  color: yellow !important;

}

#postlist {
  margin: auto;
  max-width: 300px;
}

#postcardtitle {
  text-decoration: underline;
}


#posted {
  border: 2px solid #191970;
}

.delete-card {
  float: right;
  margin-right: 2em;
}
